.navbar-heading {
    font-size: xx-large;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

.navbar {
    margin-bottom: 30px;
    background: transparent;
}

.menu-button {
    float: right;
}

.fill-space {
    flex: 1 1 auto;
}