<mat-toolbar class="navbar">


    <mat-icon>credit_card</mat-icon>

    <a class="navbar-heading" routerLink="/bills">
        Puhl's Finance App
    </a>

    <span class="fill-space"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">

        <button mat-menu-item routerLink="/bills" >
            <mat-icon>list</mat-icon>
            <span>Bill Manager</span>
        </button>

        <button mat-menu-item routerLink="/payment-history" >
            <mat-icon>list</mat-icon>
            <span>Payment History</span>
        </button>

    </mat-menu>

</mat-toolbar>