@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background: linear-gradient(to bottom right, #5f84fb, #00FF9B) fixed;
    padding: 3em;
    color:#fff;
}