table {
    width: 100%;
}

.table-header {
    text-align: center;
}

.action-button {
    padding: 10px auto;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.add-button{
    margin: 10px auto;
    background: linear-gradient(to bottom right, #392672, #702c85);
    color: white;
}

.table-toolbar {
    display: flex;
    background: transparent;
}

.fill-space {
    flex: 1 1 auto;
}