table {
    width: 100%;
}

.table-header {
    text-align: center;
}

.action-button {
    padding: 10px auto;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.add-button{
    margin: 10px auto;
    background-color: #174e73;
    color: white;
}
