<div>
    <h4 class="table-header">Bill Tracker</h4>

    <div>
        <button (click)="addBill()" mat-mini-fab class="add-button">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!-- billName Column -->
        <ng-container matColumnDef="billName">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Bill Name</mat-header-cell>
            <mat-cell *matCellDef="let bill"> {{bill.billName}}</mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="minPayment">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Minimum Due</mat-header-cell>
            <mat-cell *matCellDef="let bill"> ${{bill.minPayment}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="dueDate">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Next Due Date</mat-header-cell>
            <mat-cell *matCellDef="let bill"> {{bill.dueDate}}</mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="lastPaid">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Last Paid Date</mat-header-cell>
            <mat-cell *matCellDef="let bill"> {{bill.lastPaid}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button (click)="onEdit($event)" mat-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="onDelete($event)" mat-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
                <button (click)="openUrl(row)" mat-button color="blue">
                    <mat-icon>open_in_new</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25]">

    </mat-paginator>

</div>